<!-- Header section begin -->
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="">Project Manager</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a routerLink="/project" [routerLinkActive]="['active']" class="nav-item nav-link">Add Project</a>
      <a routerLink="/add-task" [routerLinkActive]="['active']" class="nav-item nav-link">Add Task</a>
      <a routerLink="/user" [routerLinkActive]="['active']" class="nav-item nav-link">Add User</a>
      <a routerLink="/view-task" [routerLinkActive]="['active']" class="nav-item nav-link">View Task</a>
    </div>
  </div>
</nav>
<!-- Header section end -->
